body{
margin:0;
font-family:Segoe UI;
background:#f5f7fb;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
background:#111827;
color:white;
padding:15px 40px;
}

nav ul{
display:flex;
list-style:none;
}

nav ul li{
margin-left:20px;
}

nav a{
color:white;
text-decoration:none;
}

.hero{
text-align:center;
padding:80px;
background:linear-gradient(135deg,#2563eb,#06b6d4);
color:white;
}

button{
padding:12px 25px;
border:none;
background:#2563eb;
color:white;
border-radius:6px;
cursor:pointer;
}

.card-container{
display:flex;
justify-content:center;
gap:20px;
margin-top:40px;
}

.card{
background:white;
padding:25px;
width:250px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.2);
}

.page{
padding:50px;
max-width:900px;
margin:auto;
}

.course-list li{
margin:10px 0;
}

form{
display:flex;
flex-direction:column;
width:350px;
margin:auto;
}

input,textarea{
margin:10px 0;
padding:10px;
}

footer{
text-align:center;
background:#111827;
color:white;
padding:15px;
margin-top:40px;
}